:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  --dark: #222831;
  --light: #EEEEEE;
  --grey: #393E46;
  --primary: #00ADB5;
}

html {
  font-size: clamp(0.5em, 0.5em + 1vw, 1em);
}

body {
  font-family: var(--system-ui);
  background-image: url('./assets/background-01.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input,
select,
button {
  display: block;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--dark);
  color: var(--light);
}

input:focus,
select:focus,
button:focus {
  box-shadow: 0 0 5px 0 var(--primary);
}

input[type="submit"], button {
  padding: 0.5rem calc(1rem + 1vw);
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold !important;
}

input[type="submit"]:hover, button:hover {
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
}

::placeholder {
  opacity: 0.75;
  color: var(--light);
}

::-ms-input-placeholder {
  color: var(--light);
}

.error {
  box-shadow: 0 0 5px 0 red;
}

a {
  color: var(--light);
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: none;
}

.loading {
  width: calc(5rem + 1vw);
  height: calc(5rem + 1vw);
  border: 1rem solid var(--grey);
  border-top: 1rem solid var(--primary);
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

