.leaveroom_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 1rem;
  padding: calc(0.1rem + 1vw);
  background-color: var(--grey);
}

.leaveroom_container button {
  margin: 0 auto;
  font-weight: bold;
}