.sidebar {
  color: var(--light);
  padding: calc(0.25rem + 1vw);
  height: calc(100% - 4.5rem);
  overflow-y: auto;
}

.users_list {
  margin: calc(1rem + 1vw) 0;
}

.users_list h2 {
  margin-bottom: calc(0.5rem + 1vw);
}

.users_list ul {
  list-style: none;
  padding: 0;
}

.users_list ul li {
  display: flex;
  align-items: center;
  gap: calc(0.1rem + 0.5vw);
  padding: calc(0.5rem + 0.25vw);
  background-color: var(--dark);
  margin-bottom: calc(0.5rem + 0.25vw);
  border-radius: 0.5rem;
}

.users_list ul li i {
  font-size: clamp(6px, 0.1px + 1vw, 10px);
  color: green;
}

.users_list ul li span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}