.container {
  padding: calc(0.5rem + 1vw);
  display: flex;
  gap: calc(0.5rem + 1vw);
  height: 100vh;
}

.sidebar_full {
  position: relative;
  height: 100%;
  flex-basis: calc(8rem + 20vw);
  background-color: var(--grey);
}

.chatbox {
  position: relative;
  height: 100%;
  flex-basis: calc(10rem + 80vw);
  background-color: var(--grey);
}

.sidebaropen {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 2rem;
  display: none;
  border: none;
  color: var(--primary);
  transition: 0.2s all linear;
}

.sidebar_mobile {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: calc(100px + 15vw);
  background-color: var(--grey);
  overflow-y: auto;
  transition: 0.2s all linear;
}

#sidebar_toggle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
}

#sidebar_toggle:checked ~ .sidebar_mobile {
  left: 0 !important;
}

#sidebar_toggle:checked ~ .sidebaropen {
  left: calc(100px + 15vw);
  transform: translateY(-50%) rotate(180deg);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#sidebar_toggle:checked ~ .overlay {
  display: block;
}

@media (max-width: 768px) {
  .sidebar_full {
    display: none;
  }
  .chatbox {
    flex-grow: 1;
  }
  .sidebaropen {
    display: block;
  }
  #sidebar-toggle {
    display: block;
    visibility: hidden;
  }
  .sidebar_mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .overlay {
    display: none !important;
  }
}